body {
  font-family: "Ibarra Real Nova", serif;
  font-size: 1.2rem;
}

header {
  text-align: center;
}

main {
  margin-inline: auto;
  max-inline-size: 64ch;
  padding-inline: 2ch;
}

dt {
  font-weight: bold;
}
